In [2]:
#Read excel data
import pandas as pd
df = pd.read_excel("C:/Users/khongorzul/Documents/Python/Week2/repo/Intro_Python/data.xlsx")

In [6]:
df.head()

,id,firstName,lastName,citizenId,age,yearsInCompany,salary,gender,startDate,politicalView
0,1,Suren,Itgel,SU03,18,0.5,1.5,F,2020-05-13,left
1,2,Chimeg,Baldan,BH98,23,2.0,1.7,F,2019-08-02,right
2,3,Gerel,Tsog,DA86,35,4.0,1.9,F,2017-06-14,left
3,4,Kherlen,Sukh,BU79,42,2.0,1.6,F,2019-11-15,left
4,5,Badral,Damchaa,ER89,32,8.0,2.3,M,2013-01-25,right

In [11]:
my_number = 15

if my_number > 1 and my_number < 10:
    print("hello")

In [15]:
my_number = 5
if my_number == 5:
    print("The number is 5")
else :
    print("The number is  not 5")

The number is 5

In [17]:
my_number = 20
if my_number == 5:
    print("The number is 5")
elif my_number == 10:
    print("The number is 10")
else :
    print ("The number is neither 10 nor 5")

The number is neither 10 nor 5

In [22]:
import numpy as np
my_number = 13
if np.mod(my_number,5) == 0:
    if my_number > 1 and my_number < 10:
        print("Divisible by 5 and between 1-10")
    else : print("Divisible by 5 and not between 1-10")
else:
    print ("The number is not divisible by 5")

The number is not divisible by 5

In [25]:
for i in range(15) :
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [28]:
my_list = ['Bat', 'Gerel', 'Bold']
for name in my_list:
    print(name)

Bat
Gerel
Bold

In [35]:
for i in range(15) :
    if i < 10 :
        if np.mod(i,2) == 0:
            print(i)
        else:
            print(i+1)
    else:
        break

0
2
2
4
4
6
6
8
8
10

In [43]:
for i in range(15) :
    if(i > 8)& (i < 12): #and
        if np.mod(i,2) == 0:
            print(i)
        else:
            print(i+1)
    else:
        continue

10
10
12

In [47]:
for i in range(15) :
    if i < 10 :
        #do sth
        pass
    else:
            continue

In [48]:
for i in range(15) :
    if(i < 5) | (i > 12): #or
        print (i)
    else:
        continue

0
1
2
3
4
13
14

In [51]:
mylist = [5,10,45,"Bold", 45,45, "Chimeg"]
for item in mylist:
    if isinstance(item, str):
        print(item)

Bold
Chimeg

In [52]:
mylist = [5,10,45,"Bold", 45,45, "Chimeg"]
for item in mylist:
    if isinstance(item, int):
        print(item)

5
10
45
45
45

In [54]:
short_list = [1,2,5]
for i in range(10):
    if i in short_list:
        print(i)

1
2
5

In [56]:
mylist = [5,10,45,"Bold", 45,45, "Chimeg"]
for item in mylist:
    if type(item) == int:
        print(item)

5
10
45
45
45

In [ ]:
#Transform data types